<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zip 3.0 Demo</title>
    <link rel="stylesheet" href="/shared.css" />
    <script type="text/javascript" src="https://unpkg.com/vue@3.2.26/dist/vue.global.js"></script>
    <script type="text/javascript" src="https://unpkg.com/platform@1.3.6"></script>
    <script type="text/javascript" src="/api?expose=API"></script>
    <script type="text/javascript" src="/module/navbar"></script>
</head>
<body>
    <div id="app" class="">
        <nav-bar heading="Server Analytics" class="bg-success text-white"></nav-bar>
        <br>
        <h2 class="text-center">{{parsed.devices.length}} visitor{{parsed.devices.length===1?'':'s'}} online</h2>
        <div class="container mt-4">
            <div class="card mb-4" v-for="d in parsed.devices">
                <div class="card-body">
                    <span class="badge bg-light d-inline-block" style="float: right; width: auto">{{d.id}}</span>
                    <h3>💻 {{d.tabs[0].browser.friendly}}</h3>
                    <div><img :src="d.tabs[0].ipInfo?.country_flag" style="height: 0.9em; width: auto"> {{d.tabs[0].ipInfo?.city}}, {{d.tabs[0].ipInfo?.region}} <span v-if="false">({{d.tabs[0].ipInfo?.timezone}})</span></div>
                    <div>☁ {{d.tabs[0].ipInfo?.ip}}</div>
                    <!-- {{d.tabs}} -->
                    <div v-for="t in d.tabs" class="pt-2">
                        <div>
                            📄 {{t.lastUrl}}
                            <i class="text-muted">{{ago(t.lastSeen)}}</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const ago = ts => Math.floor((Date.now() - ts) / 1000) + "s ago"

        Vue.createApp({
            data: () => ({
                aInfo: {},
            }),
            methods: {
                ago,
            },
            computed: {
                parsed() {
                    const tabIds = Object.keys(this.aInfo)
                    const tabs = tabIds.map(id => ({id, ...this.aInfo[id]})).filter(x => x.lastSeen > Date.now() - 10000)
                    tabs.forEach(t => t.browser = platform.parse(t.userAgent))
                    tabs.forEach(t => t.browser.friendly = `${t.browser.name} ${t.browser.version.split('.')[0]} on ${t.browser.os.family} ${t.browser.os.version}`)
                    const deviceIds = Array.from(new Set(tabs.map(x => x.deviceId)))
                    const devices = deviceIds.map(id => ({id, tabs: tabs.filter(x => x.deviceId === id).sort((a,b) => b.lastSeen - a.lastSeen)}))
                    return { tabs, devices }
                }
            },
            async created() {
                this.aInfo = await Analytics.apis.get()
                setInterval(async () => this.aInfo = await Analytics.get(), 3000)
            },
        })  
            .component('nav-bar', require('navbar'))
            .mount('#app')
    </script>
    
</body>
</html>